<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <span id="homelink" class="navigation-links-text navigation-Link">
      <span>Home</span>
    </span>
    <span id="aboutlink" class="navigation-links-text1 navigation-Link">
      <span>About</span>
    </span>
    <span id="serviceslink" class="navigation-links-text2 navigation-Link">
      <span>Portofolio</span>
    </span>
    <span id="contactlink" class="navigation-links-text3 navigation-Link">
      <span>Blog</span>
    </span>
  </nav>
</div>
