<div>
  <link href="./navigation.css" rel="stylesheet" />
  <header data-role="Header" class="navigation-header">
    <div class="navigation-max-width">
      <a href="index.html" class="navigation-navlink">
        <img
          alt="logo"
          src="0eef272e-385e-436a-ac40-ca9f6b47c48c"
          class="navigation-image"
        />
      </a>
      <div class="navigation-nav">
        <nav class="navigation-links-nav navigation-links-root-class-name17">
          <span id="homelink" class="navigation-links-text navigation-Link">
            <span>Home</span>
          </span>
          <span id="aboutlink" class="navigation-links-text1 navigation-Link">
            <span>About Us</span>
          </span>
          <span
            id="serviceslink"
            class="navigation-links-text2 navigation-Link"
          >
            <span>Services</span>
          </span>
          <span id="contactlink" class="navigation-links-text3 navigation-Link">
            <span>Contact Us</span>
          </span>
        </nav>
        <button
          id="getin1"
          class="navigation-register button-secondary button button-md"
        >
          <span>Get in touch</span>
        </button>
      </div>
      <div data-type="BurgerMenu" class="navigation-burger-menu">
        <svg viewBox="0 0 1024 1024" class="navigation-icon">
          <path
            d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
          ></path>
        </svg>
      </div>
      <div data-type="MobileMenu" class="mobile-menu">
        <div class="navigation-nav1">
          <div class="navigation-container">
            <img alt="image" src="public/playground_assets/logo1-1500h.png" />
            <div
              data-type="CloseMobileMenu"
              class="navigation-close-mobile-menu"
            >
              <svg viewBox="0 0 1024 1024" class="navigation-icon2">
                <path
                  d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                ></path>
              </svg>
            </div>
          </div>
          <nav class="navigation-links-nav navigation-links-root-class-name18">
            <span id="homelink" class="navigation-links-text navigation-Link">
              <span>Home</span>
            </span>
            <span id="aboutlink" class="navigation-links-text1 navigation-Link">
              <span>About</span>
            </span>
            <span
              id="serviceslink"
              class="navigation-links-text2 navigation-Link"
            >
              <span>Portofolio</span>
            </span>
            <span
              id="contactlink"
              class="navigation-links-text3 navigation-Link"
            >
              <span>Blog</span>
            </span>
          </nav>
          <button class="button-secondary button button-md">
            <span>Get in touch</span>
          </button>
        </div>
      </div>
    </div>
  </header>
</div>
